.marquee-container {
  width: 100%;
  font-family: "Playfair Display";
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 300px;
  background: #f5f5f5;
}

.marquee {
  font-family: "Playfair Display";
  font-size: 100px;
  font-weight: 600;
  letter-spacing: 6px;
  color: #d2a679;
  padding-right: 40px;
   display: inline-block;
  animation: scroll 30s linear infinite;
    white-space: nowrap;

}


@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 1024px) {
  .marquee-container {
    height: 220px;
  }

  .marquee {
    font-size: 70px;
    letter-spacing: 4px;
    animation-duration: 25s;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .marquee-container {
    height: 160px;
  }

  .marquee {
    font-size: 46px;
    letter-spacing: 3px;
    animation-duration: 20s;
  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .marquee-container {
    height: 120px;
  }

  .marquee {
    font-size: 32px;
    letter-spacing: 2px;
    animation-duration: 18s;
  }
}