.header {
  width: 100%;
  margin: auto;
  padding: 10px 40px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.17);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  transition: all 0.3s ease;
  z-index: 1000;
}

.menu a.active {
  color: #ff0066; 
}


.header.scrolled {
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.logo {
  font-family: 'Great Vibes', cursive;
  font-size: 30px; 
  color: #c04875;
  display: flex;
  flex-direction: column;
}

.logo span {
  font-family: 'Cinzel', serif;
  font-size: 9px;
  letter-spacing: 2px;
  margin-top: -3px;
}

.animate-logo {
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {opacity:0; transform:translateY(-10px);}
  to {opacity:1; transform:translateY(0);}
}

.menu {
  display: flex;
  gap: 22px; 
  font-family: 'Cinzel', serif;
}

.animate-menu {
  animation: slideDown 0.8s ease forwards;
}

@keyframes slideDown {
  from {opacity:0; transform:translateY(-15px);}
  to {opacity:1; transform:translateY(0);}
}

.menu a {
  font-size: 13px;
  letter-spacing: 1.5px;
  color: #c04875;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.menu a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -4px;
  left: 0;
  background: #c04875;
  transition: 0.3s ease;
}

.menu a:hover::after {
  width: 100%;
}

.search {
  font-size: 17px;
  color: #c04875;
  cursor: pointer;
  transition: 0.3s;
}

.search:hover {
  transform: scale(1.15) rotate(8deg);
}

@media (max-width: 900px) {
  .menu {
    display: none;
  }

  .logo {
    font-size: 26px;
  }
}

/* ICON WRAPPER */
.nav-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 22px;
  color: #c04875;
  cursor: pointer;
}

/* MOBILE MENU */
.mobile-menu {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.97);
  backdrop-filter: blur(8px);
  transform: translateY(-100%);
  transition: transform 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  z-index: 999;
}

.mobile-menu.open {
  transform: translateY(0);
}

.mobile-menu a {
  font-family: "Cinzel", serif;
  font-size: 14px;
  letter-spacing: 2px;
  color: #c04875;
  text-decoration: none;
  padding: 12px 0;
}

.mobile-menu a.active {
  color: #ff0066;
}

@media (max-width: 900px) {
  .menu {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

