.search-overlay {
  position: fixed;
  top: -120px;
  left: 0;
  width: 100%;
  background: #f3f3f3;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.35s ease;
  z-index: 2000;
}

.search-overlay.open {
  top: 0;
}

.search-overlay input {
  width: 90%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 22px;
  font-family: 'Cinzel', serif;
}

.close-icon {
  font-size: 26px;
  cursor: pointer;
}
