.footer {
  background: linear-gradient(180deg, #1a1a1a, #0f0f0f);
  color: #cfcfcf;
  text-align: center;
  padding-top: 60px;
  font-family: "Georgia", serif;
  margin-top: -2.5%;
}

.footer-content {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.footer-logo {
  font-family: "Great Vibes", cursive;
  font-size: 36px;
  color: #fff;
  margin-bottom: 0;
}

.footer-sub {
  font-size: 12px;
  margin-top: -6px;
  letter-spacing: 1px;
  color: #aaa;
}

.footer-cities {
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: 1px;
}

.footer-text {
  font-size: 13px;
  margin-top: 8px;
  color: #9a9a9a;
}

.footer-email {
  font-size: 14px;
  margin-top: 8px;
  color: #e5e5e5;
}

.footer-icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 16px;
  color: #cfcfcf;
}

.footer-icons svg {
  cursor: pointer;
  transition: 0.3s;
}

.footer-icons svg:hover {
  color: #ffffff;
  transform: scale(1.2);
}

.footer-bottom {
  border-top: 1px solid #2a2a2a;
  margin-top: 40px;
  padding: 20px;
  font-size: 12px;
  color: #9a9a9a;
}

.footer-bottom span {
  color: #ffffff;
}
